= semantic_form_for [@professordisciplina] do |form|
	= form.input :disciplina, :member_label => :disciplina, :label => 'Nome' 
	= form.input :professor, :member_label => :professor, :label => 'Nome' 
	= form.input :periodo, :label => 'Periodo' 
	= form.input :ano, :label => 'Ano' 
	= form.submit 'Salvar'
