<p id="notice"><%= notice %></p>

<p>
  <b>Aluno:</b>
  <%= @turma.aluno %>
</p>

<p>
  <b>Professordisciplina:</b>
  <%= @turma.professordisciplina %>
</p>


<%= link_to 'Edit', edit_turma_path(@turma) %> |
<%= link_to 'Back', turmas_path %>
